.b-market__item .ui-dialog-titlebar {display:none}
.b-market__item-i .ui-dialog-titlebar {display:none}
.ui-widget-content{
	background: none;
    border: none;
    color: none;
}
.ui-dialog{
	overflow: visible;
    padding: 0.2em;
    position: absolute;
}
.ui-dialog .ui-dialog-content{
	background: none repeat scroll 0 0 transparent;
    border: 0 none;
    overflow: visible;
    padding: 0.5em 1em;
    position: relative;
}
.qq-uploader .img span {
    background: url("http://static.migom.by/img/design/strelka_close.png") no-repeat scroll -2px -2px transparent;
    cursor: pointer;
    display: block;
    height: 20px;
    position: relative;
    right: -73px;
    top: -10px;
    width: 20px;
    z-index: 10;
}
.qq-upload-button .img img{
	position: relative;
    top: -20px;
}