<phpunit bootstrap="bootstrap.php"
                colors="false"
                convertErrorsToExceptions="true"
                convertNoticesToExceptions="true"
                convertWarningsToExceptions="true"
                stopOnFailure="false">

        <selenium>
                <browser name="Firefox" browser="*firefox" host="178.172.181.139" port="44444" timeout="30000" />
        </selenium>

</phpunit>